In [1]:
import tweepy
import csv
import pandas as pd
# Used for progress bar
import time
import sys

In [2]:
rapid_key = "b7684583d3msh7017aa3301adc70p19735djsnb712cec384d7"
twitter_app_auth = {
    'consumer_key': 'ohQhzWQOBdhrsUvjst519nadE',
    'consumer_secret': 'cGeHVzPw7KAq8R7uRlQm9fvdjZeXWWrUQkPZVBvpcMRcWeX6IF',
    'access_token': '1059836106873679872-ejDqlh54pvFi7J5SOaavVvtRKJz8CN',
    'access_token_secret': 'UQZq0tU85bGfEVTCjyadQm28fnqllvP3nQxocRKk7onYm',
  }

In [3]:
df = pd.read_csv("D:/Datasets/stream_tweets/df_finale_sardine.csv")

C:\Users\loren\Anaconda3\envs\deepml-gpu\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (20,23,24,25,28,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
from botometer import Botometer
bom = Botometer(wait_on_ratelimit=True,
                          rapidapi_key=rapid_key,
                          **twitter_app_auth)

In [7]:
check_bot = []
conta = 0
name_list = []

In [13]:
for i in df.screen_name.drop_duplicates()[12627:]:
    try:
        name_account = '@'+i
        result = bom.check_account(name_account)
        check_bot.append(result["display_scores"])
        name_list.append(i)
        if conta % 100 == 0:
            print(conta)
        conta += 1
    except tweepy.TweepError as ex:
            if (ex.reason == "Not authorized."):
                pass

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100

In [15]:
len(name_list) + 12572

14770

In [34]:
df.screen_name.drop_duplicates()[3774:]

6918          Angelo_Z93
6919       MarcoIppolito
6920        PaoloPinna50
6938        Sofia5Sofia5
6939        BartonFink88
              ...
45540    MPellegrini1988
45543       shockinplace
45545     strumentiumani
45547       fabiopazzini
45548    NormaloDerErste
Name: screen_name, Length: 11021, dtype: object

In [16]:
app1 =  pd.DataFrame(check_bot)
aap = pd.DataFrame(name_list)
final = pd.concat([app1,aap], axis = 1)

In [17]:
#final.to_csv("D:/Datasets/stream_tweets/bot12572_inpoi.csv")

In [18]:
final.head(20)

,content,english,friend,network,sentiment,temporal,universal,user,0
0,3.3,1.8,1.5,0.6,2.5,1.6,2.1,3.3,SofiaMa94711842
1,2.9,1.0,2.4,1.6,2.1,3.0,1.2,0.6,sarais53
2,3.1,2.4,2.3,4.4,3.2,2.9,1.8,0.9,disinformatia
3,0.2,0.8,2.4,0.8,0.2,0.9,1.5,1.1,Lilly5713
4,0.4,0.1,0.3,0.9,0.5,0.4,0.1,0.2,zeriantisisma
5,3.2,1.4,0.4,4.5,3.0,0.3,0.9,2.5,oriettatiberio
6,1.3,2.3,1.7,2.6,0.5,1.9,2.8,4.1,SoglianiC
7,3.3,2.5,2.2,3.1,4.4,1.4,2.3,0.9,marsorg06
8,1.9,0.9,1.1,3.6,3.9,0.5,0.4,0.4,ari_colabianchi
9,1.2,0.3,0.4,1.5,2.4,1.0,0.3,0.4,fradepal
10,1.1,0.6,0.9,2.2,1.1,1.0,0.9,2.7,FelynX_FX
11,3.2,1.7,2.7,0.7,3.6,1.6,1.0,0.4,maximocasale
12,3.9,3.3,1.5,0.9,1.8,4.3,2.7,3.9,Marina19746
13,0.6,0.2,0.4,0.9,1.0,0.7,0.2,0.2,Avvenire_Nei
14,2.1,0.3,0.7,0.5,1.7,0.4,0.4,0.3,Maxfinas
15,1.9,2.2,3.8,4.2,2.6,4.4,2.1,1.1,gaiaitaliacomlo
16,2.6,0.9,1.7,1.6,0.8,0.6,0.8,0.3,Ire_Lica
17,2.3,3.3,4.1,4.5,2.4,2.6,3.1,3.2,GaiaitaliaRoma
18,4.0,4.4,2.7,2.4,3.6,1.3,3.1,3.9,Mariucc84685897
19,0.8,0.2,0.4,0.4,1.6,0.8,0.2,0.2,CesareCe

In [21]:
ff = pd.read_csv("D:/Datasets/stream_tweets/bot12572_inpoi.csv")

In [22]:
ff

,Unnamed: 0,content,english,friend,network,sentiment,temporal,universal,user,0
0,0,3.3,1.8,1.5,0.6,2.5,1.6,2.1,3.3,SofiaMa94711842
1,1,2.9,1.0,2.4,1.6,2.1,3.0,1.2,0.6,sarais53
2,2,3.1,2.4,2.3,4.4,3.2,2.9,1.8,0.9,disinformatia
3,3,0.2,0.8,2.4,0.8,0.2,0.9,1.5,1.1,Lilly5713
4,4,0.4,0.1,0.3,0.9,0.5,0.4,0.1,0.2,zeriantisisma
...,...,...,...,...,...,...,...,...,...,...
2193,2193,1.8,1.0,0.8,1.2,3.3,2.0,0.3,2.7,MPellegrini1988
2194,2194,3.7,2.7,4.6,3.3,0.7,4.5,4.6,4.6,shockinplace
2195,2195,0.2,0.2,0.4,0.4,0.3,0.4,0.2,0.1,strumentiumani
2196,2196,2.7,0.5,0.7,1.2,3.0,1.1,0.2,0.3,fabiopazzini
2197,2197,0.3,0.3,0.5,0.4,0.4,0.3,0.4,0.3,NormaloDerErste